<h2>Are you sure you want to delete this book?</h2>
<p><strong><%= @book.title %></strong></p>

<%= form_with url: book_path(@book), method: :delete, local: true do %>
  <%= submit_tag "Yes, delete it", class: 'btn btn-danger' %>
<% end %>

<%= link_to 'No, cancel', books_path, class: 'btn btn-secondary' %>